/* Global selector */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Colors to use */
:root {
    --bg-color: #ffffff;
    --text-color: #191919;
    --highlight-bg-color: #efe7f7;
    --btn-bg-color: #482c6a;
    --btn-text-color: #ffffff;
}

/* Default font */
html {
    font-family:Arial, Helvetica, sans-serif;
}

/* Header */
header {
    display: inline-block;
    width: 100%;
    font-size: 18px;
}

/* Title style within header */
header .title {
    float: left;
    text-decoration: none;
    margin: 10px;
}

/* Title contains anchor tag, remove styles */
header .title a,
header .title a:hover,
header .title a:active,
header .title a:visited {
    text-decoration: none;
    color: var(--text-color);
}

/* Header contains timer for quiz */
header .timer {
    float: right;
    margin: 10px;
}

/* Main section */
main {
    max-width: 800px;
    align-self: center;
    align-content: center;
}

/* All h1 tag styles */
h1 {
    font-size: 25px;
    color: var(--text-color);
    text-align: center;
    padding: 10px 0px;
}

/* These are styles for text */
.instructions,
#coding-quiz-score p,
form .form-group {
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    margin: 10px;
}

.page-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    max-width: 800px;
}

#coding-quiz-intro,
#coding-quiz-question,
#coding-quiz-score,
#coding-quiz-high-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-center {
    display: flex;
    justify-items: center;
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0px;
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-size: 1.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--highlight-bg-color);
}

.btn-option {
    width: 200px;
}

.btn:hover {
    box-shadow: 0 2px var(--highlight-bg-color);
    opacity: 50%;
    top: -2px;
}

.btn:active {
    box-shadow: 0 0px var(--highlight-bg-color);
    top: 0;
}

form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

form input {
    outline: none;
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 1.2rem;
    border: 2px solid var(--btn-bg-color);
    border-radius: 12px;
}


#scores {
    list-style-type: none;
    font-size: 20px;
    color: var(--text-color);
    text-align: left;
    margin: 10px;
}

#scores li {
    background-color: var(--highlight-bg-color);
}

#scores li:nth-child(even) {
    background-color: transparent;
}